@font-face {
    font-family: 'pricedown';
    src: url('./../fonts/pricedown.eot'); /* IE9 Compat Modes */
    src: url('./../fonts/pricedown.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./../fonts/pricedown.woff2') format('woff2'), /* Super Modern Browsers */
         url('./../fonts/pricedown.woff') format('woff'), /* Pretty Modern Browsers */
         url('./../fonts/pricedown.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./../fonts/pricedown.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.header-box{
    width: 100% !important;
}
.navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-inline{
    height: 100%;
}

.link{
    font-size: 0rem;
    transition-duration: 500ms;
    margin-top:5px;
    color: #ec6537 !important;
}
@media (max-width: 992px) {
    .link{
        font-size: 1.3rem;
    }
    #basic-navbar-nav{
        padding-top: 20px;
    }
}
.link:hover{
    transition-duration: 500ms;
    color: #ea33d5 !important;
}
.header-logo{
    height: 80px;
}
