.header-box{
    width: 100% !important;
}
.navbar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-inline{
    height: 100%;
}

.link{
    font-size: 0px;
    transition-duration: 500ms;
    line-height: 100%;
    margin-right: 20px;
    margin-top:5px;
}
.link:hover{
    font-size: 1.3rem;
    transition-duration: 500ms;
}