/* Start Fonts from Google Fonts */
/*Google Fonts*/



/*End Fonts*/


/* Start Body */

body {
/*   background: #EEE; */
  	background: url("https://s16.postimg.org/4d17gd0vp/smbg.png");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
  text-align: center;
  font: 50px;

}
p{
    margin:0;
}

/* End Body */

h1{
  margin-bottom: 7%;
}

/*tooltip Box*/
.con-tooltip {

  position: relative;
  display: inline-block;
}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  padding: 5px 20px;

  background: #444;
  color: #ec6537;
  
  position: absolute;
  top:-140%;
  left: -80%;
  width: 130px;
  text-align: center;
  

  border-radius: 9px;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1rem;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #444 transparent transparent transparent;

  position: absolute;
  left: 40%;

}
@media (min-width: 992px) {
    .con-tooltip:hover .tooltip{
        visibility: visible;
        transform: translateY(-10px);
        opacity: 1;
            transition: .3s linear;
        animation: odsoky 1s ease-in-out infinite  alternate;

    }
}
@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }

}




/*left*/

.left .tooltip{ top:-10%; left:-170%; }

.left .tooltip::after{
  top:20%;
  left:90%;
  transform: rotate(-90deg);
}




/*bottom*/

.bottom .tooltip { top:120%; left:-70%; }

.bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}



/*right*/

.right .tooltip { top:-20%; left:115%; }

.right .tooltip::after{
  top:40%;
  left:-12%;
  transform: rotate(90deg);
}

.tooltip span{
    width:100%;
    text-align: center;
    display: inline-block;
}
