
/*tooltip Box*/
.con-tooltip {
  padding:0;
  margin-left: 30px;
  margin-top:-5px;

  position: relative;
  display: inline-block;
}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;

  background: #444;
  color: #ec6537;
  
  position: absolute;
  top:-140%;
  left: -80%;
  width: 130px;
  text-align: center;
  

  border-radius: 9px;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 1rem;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #444 transparent transparent transparent;

  position: absolute;
  left: 40%;

}
@media (min-width: 992px) {
    .con-tooltip:hover .tooltip{
        visibility: visible;
        transform: translateY(-10px);
        opacity: 1;
            transition: .3s linear;
        animation: odsoky 1s ease-in-out infinite  alternate;

    }
}
@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }

}
.bottom .tooltip { top:100%; left:-110%; }

.bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}

.tooltip span{
    width:100%;
    text-align: center;
    display: inline-block;
}
